<f:layout name="TabContent" />
<f:section name="Main">
    <f:if condition="{references}">
            <f:then>
                <br>
                <h4><strong>{numberOfReferences}</strong> <f:translate key="LLL:EXT:qc_references/Resources/Private/Language/locallang.xlf:referencesFound" /></h4>
                <br>
                <div class="table-fit">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th ><f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:show_item.php.title" /></th>
                            <th>Groupe BE</th>
                            <th><f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:show_item.php.table" /></th>
                            <th><f:translate key="LLL:EXT:qc_references/Resources/Private/Language/locallang.xlf:pageUid"/></th>
                            <th>Slug</th>
                        </tr>
                        </thead>
                        <tbody>
                        <f:for each="{references}" as="line">
                            <tr>
                                <f:if condition="{line.record}">
                                    <f:then>
                                        <td>
                                            <div class="text-hover">
                                                <f:if condition="{line.deleted}">
                                                    <f:then>
                                                        <f:image
                                                                src="EXT:qc_references/Resources/Public/Icons/install-check-extables.svg"
                                                                width="18c" height="18c" title="{line.elementDescription}"/>
                                                    </f:then>
                                                    <f:else>
                                                          <span title="{line.elementDescription}">
                                                                    {line.icon -> f:format.raw()}  </span>
                                                    </f:else>
                                                </f:if>
                                                {line.recordTitle}
                                            </div>
                                        </td>
                                        <td>{line.groupName}</td>
                                        <td>{line.title}</td>
                                        <td>
                                            <f:if condition="{line.tablename} != 'pages'">
                                                <f:then>{line.pid}</f:then>
                                                <f:else>{line.record.uid}</f:else>
                                            </f:if>
                                        </td>
                                    </f:then>
                                    <f:else>
                                        <td class="col-icon"></td>
                                        <td class="col-title"><f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:show_item.php.missing_record" /> (uid={line.row.recuid}</td>
                                        <td>{line.row.title}</td>
                                    </f:else>
                                </f:if>
                                <td>
                                    <div class="text-hover">
                                        <a href="{line.url}" target="_blank">{line.path}</a>
                                    </div>
                                </td>
                            </tr>
                        </f:for>
                        </tbody>
                    </table>
                </div>
            </f:then>
            <f:else>
                <div class="alert no-result-alert"  role="alert">
                    <span>
                         <f:translate key="LLL:EXT:qc_references/Resources/Private/Language/locallang.xlf:noReference" />
                    </span>
                </div>
            </f:else>
        </f:if>

    <f:render partial="Pagination" arguments="{pagination: pagination, currentPage: currentPage, showHiddenOrDeletedElements : showHiddenOrDeletedElements}"/>
</f:section>

